/.vs
/FunctionalTests/.vs/FunctionalTests/v15
*/obj/
/packages
*/bin/
/NCS.DSS.FunctionalTests/Features/Customer/CreateData.feature
/NCS.DSS.FunctionalTests/Features/Customer/CreateData.feature.cs
/NCS.DSS.FunctionalTests/appsettings.local.json
